div.text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.text-image > div:first-child {
    height: fit-content;
    flex: 3 1 380px;
}

.text-image > img {
    height: 45vh;
    border-radius: 20px;
    border: #ED542E solid 2px;
    object-fit: cover;
}

.main-card.sub-page > div {
    padding: 1rem;
}