:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.accented {
  color: #ed542e !important;
  font-weight: bold;
}

.accented-2 {
  color: #4086c2 !important;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button {
  background: #ed542e;
  border: none;
  padding: 7px 15px;
  border: solid black 2px;
  border-radius: 15px;
  color: black;
  font-weight: 550;
  box-shadow: 82px 86px 122px -83px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 82px 86px 122px -83px rgba(0, 0, 0, 0.3);
}

a.btn,
.btn {
  background: #ed542e;
  border: none;
  padding: 7px 15px;
  border: solid black 2px;
  border-radius: 15px;
  color: black;
  font-weight: 550;
  box-shadow: 82px 86px 122px -83px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 82px 86px 122px -83px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  cursor: pointer;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  background: white;
  color: black;
  align-items: center;
  padding-bottom: 1rem;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 30px;
  position: relative;
  padding: 2.5rem;
}

.sub-page.main-card > * {
  align-self: flex-start;
}

.separator {
  background-image: url("/gallery/ff10-105.jpg");
  color: white;
  width: 100vw;
  min-height: 13vh;
  max-height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px 0;
}

.separator > span {
  display: inline-block;
}

#form-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

#form-container form {
  background-color: #4084bf;
  padding: 1rem;
  padding-bottom: 3rem;
  border-radius: 20px;
  position: relative;
}

input,
textarea {
  padding: 10px;
  border: none;
  background-color: white; /* White background for inputs */
  border-radius: 20px;
  font-size: 16px;
  width: 100%;
  margin: 5px;
  color: black;
}

textarea {
  height: 130px;
}

input::placeholder,
textarea::placeholder {
  color: #999; /* Light grey placeholder color */
}

#form-container form > button {
  position: absolute;
  right: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}